/* --------------------{ Mix style }-------------------- */
.icon {
    font-size: 16px;
}

.medium-shadow {
    box-shadow: 0px 0px 10px var(--shadow-theme);
}

.small-shadow {
    box-shadow: 0px 1px 4px var(--shadow-theme);
}

.font-bold {
    font-weight: bold;
}

.font-thin {
    font-weight: 600;
}


.color-logo {
    color: var(--logo-theme);
}

.uppercase {
    text-transform: uppercase;
}

.line-through {
    text-decoration: line-through;
}

.marked {
    background-color: var(--marked-theme);
}

.line {
    height: 1px;
    width: 100%;
    border: none;
    background-color: var(--line-theme);
}