
/* --------------------{ Root themes }-------------------- */
:root {
    --logo-theme: #FF385C;
    --general-theme: #222222;
    --weak-theme: #717171;
    --shadow-theme: #bdbdbd;
    --background-theme: #ffffff;
}