/* --------------------{ About styles }-------------------- */
.About {
    max-width: 1128px;
    margin: 0 25px 0 25px;
}

.About__header {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}