/* --------------------{ About styles }-------------------- */
.Main__about {
    max-width: 1128px;
    margin: auto;
}

.About__header {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}