/* --------------------{ Card style }-------------------- */
.Card {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 16px;
}

.Card__img-container {
    position: relative;
}

.Card__img {
    width: 300px;
    height: 200px;
    border-radius: 14px;
    object-fit: cover;
}

.Card__tag {
    padding: 4px 8px 4px 8px;
    font-size: 12px;
    border: 1px solid var(--general-theme);
    border-radius: 5px;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: var(--background-theme);
}

.Card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Card__header {
    display: flex;
    justify-content: space-between;
}

.Card__footer {
    display: flex;
    align-items: center;
}