/* --------------------{ Gallery styles }-------------------- */
.About__gallery {
    margin-top: 24px;
}

.Gallery {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
    gap: 8px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.Gallery__img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.Gallery__img:hover {
    cursor: pointer;
}

.Gallery__tag {
    padding: 7px 15px 7px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--general-theme);
    border-radius: 8px;
    position: absolute;
    bottom: 24px;
    right: 24px;
    background-color: var(--background-theme);
}

.Gallery__tag:hover {
    cursor: pointer;
}

.Gallery__img_type_hero {
    height: 100%;
    grid-row: 1 / 3;
}