
/* --------------------{ Header }-------------------- */
.Header {
    display: flex;
    justify-content: center;
}

.Header__container {
    width: 100%;
    padding: 0 24px 0 24px;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.Header__container_theme_about {
    padding: 0;
    max-width: 1128px;
}

.Header__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}