
/* --------------------{ Header }-------------------- */
.Header {
    height: 80px;
    padding: 0 24px 0 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.Header__info {
    display: flex;
    justify-content: flex-end;
}