/* --------------------{ Main styles }-------------------- */
.Main {
    width: 100%;
}

.Main_theme_home-page {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 840px 1fr;
}

.Main_theme_about {
    display: flex;
    flex-direction: column;
    align-items: center;
}