/* --------------------{ Offers style }-------------------- */
.Offers-geometry {
    display: grid;
    grid-template-columns: 7fr 5fr;
}

.Offers__title {
    margin-bottom: 24px;
    font-size: 22px;
}

.Offers__list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    list-style-type: none;
}

.Offers__items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Offers__icon {
    width: 30px;
    font-size: 24px;
    text-align: center;
}

.Offers__description {
    font-size: 16px;
}

.Offers__show-all {
    padding: 13px 23px 13px 23px;
    margin-top: 40px;
    font-size: 16px;
    border: 1px solid var(--weak-theme);
    border-radius: 6px;
    background-color: var(--background-theme);
}

.Offers__show-all:hover {
    cursor: pointer;
    text-decoration: underline;
}