/* --------------------{ Residence-info style + other/ }-------------------- */
.Residence-info__detail {
    width: 1128px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.Residence-info__detail-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.Residence-info__detail-item {
    display: flex;
    align-items: center;
}

.Residence-info__detail-dot {
    margin: 0 8px 0 8px;
}

.Residence-info__social-media {
    display: flex;
    align-items: center;
    gap: 16px;
}

.Residence-header {
    display: flex;
}

.Residence-title {
    font-size: 32px;
}

.Card__residence-title {
    font-size: 18px;
}

.Residence-line {
    width: 35px;
    margin-left:0; 
    text-align:left;
}

.Rooms-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2px;
    list-style-type: none;
}

.Residence-info__rooms-list {
    margin-left: 4px;
}


.Residence-info__mention {
    text-decoration: underline;
}

.Share {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    background: none;
}

.Share:hover {
    cursor: pointer;
}

.Share__title {
    text-decoration: underline;
}

.Save {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    background: none;
}

.Save:hover {
    cursor: pointer;
}

.Save__title {
    text-decoration: underline;
}

.Show-more {
    display: flex;
    align-items: center;
    gap: 4px;
}

.Show-more__link {
    font-size: 16px;
    text-decoration: underline;
}

.Host-introduction__show-more {
    margin-top: 10px;
}