/* --------------------{ User-menu }-------------------- */
.User-menu {
    height: 42px;
    width: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--weak-theme);
    border-radius: 21px;
}

.User-menu__menu {
    margin-left: 12px;
    font-size: 16px;
    color: var(--weak-theme);
}

.User-menu__icon {
    margin-right: 6px;
    font-size: 30px;
    color: var(--weak-theme);
}