/* --------------------{ User-menu style }-------------------- */
.User-menu {
    height: 42px;
    width: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--weak-theme);
    border-radius: 21px;
    transition: box-shadow .1s;
    transition-timing-function: ease-in-out;
}

.User-menu:hover {
    box-shadow: 0px 1px 4px var(--shadow-theme);
    cursor: pointer;
}

.User-menu__menu {
    margin-left: 12px;
    font-size: 16px;
    color: var(--weak-theme);
}

.User-menu__icon {
    margin-right: 6px;
    font-size: 30px;
    color: var(--weak-theme);
}